<!DOCTYPE html>
<html>
<head>
  <% provide(:title, t("home.name")) %>
  <% provide(:base_title, t("base.title")) %>
</head>
<body>
  <div class="center jumbotron">
    <h1><%= t "home.name" %></h1>
    <h2>
      <%= t("home.ct_html", href_base: link_to(t("base.ct_href"), "https://www.railstutorial.org/")) %>
    </h2>
    <%= link_to t("user.button"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</body>
</html>
