<!DOCTYPE html>
<html>
<head>
  <% provide(:title, t("user.signup"))%>
  <% provide(:base_title, t("base.title")) %>
</head>
<body>
  <h1><%= t("user.signup") %></h1>
  <p><%= t("user.content") %></p>
</body>
</html>
